$dark-grey: #22262B;
$lighter-grey: #3D434A;
$white: #FFFFFF;
$green: #8EFF6F;
$leaf-tomatillo: #2AB4A8; //don't use
$red: #ff0000;
$primary-text: #ffffff;

// $shadow:
// $primary-border: 2px solid rgb(199, 199, 199);
