@import '../Sass/index.scss';

.movie-card {
  width: 100%;
  top: 0;
  right: 0;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  transition: all 0.2s ease-in-out;
  z-index: 0;

  &:hover  {
    @include transition;
    border: solid 3px $green;
  }

  &:hover .poster {
    transform: scale(1.02);
  }

  &:hover .card-info {
    @include cursor;
    opacity: 1;
    background: linear-gradient(to top, #22262b 0%, rgba(255, 0, 0, 0));
  }

  &:focus {
    border: solid 3px $green;
  }

  &:focus .poster {
    transform: scale(1.02);
  }

  &:focus .card-info {
    opacity: 1;
    background: linear-gradient(to top, #22262b 0%, rgba(255, 0, 0, 0));
  }

  img {
    width: 100%;
    grid-area: bottom;
  }
}

.card-info {
  display:flex;
  flex-direction: column-reverse;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 8px;
  grid-area: bottom;

  h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-left: 15px;
  }
}

.rating-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: -10px;

  img {
    width: 28px;
    height: 28px;
  }

  .hover-title {
    margin-bottom: -6;
  }

  h4 {
    font-weight: 300;
  }
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #ffffff;
}
