@import '../Sass/index.scss';
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie-details-section {
  @include pageMargins;
  margin-right: 0;
  background-color: $dark-grey;
  height: 60vh;
}

.backdrop-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.backdrop {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  z-index: 1;
  float: right;
}

.overlay {
  position: relative;
  z-index: 2;
  height: 63vh;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#22262b+0,7db9e8+100&1+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(34,38,43,1) 36%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(34,38,43,1) 36%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to right,  rgba(34,38,43,1) 36%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22262b', endColorstr='#007db9e8',GradientType=1 );
}

.movie-words-container {
  position: absolute;
  z-index: 3;
  top: 16rem;
  left: 9rem;
  width: 40%;

  .movie-words__details {
    display: flex;
    align-items: center;
  }
}

.overview {
  margin-top: 20px;
}

.tomatillo {
  width: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.video-container {
  margin: 4%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;

  height: 0;
  overflow: hidden;

  iframe {
    border: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
