@import '../Sass/index.scss';
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie-details-section {
  @include pageMargins;
  margin-right: 0;
  background-color: $dark-grey;
  height: 60vh;
}

.backdrop-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.backdrop {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  z-index: 1;
  float: right;
}

.overlay {
  position: relative;
  z-index: 2;
  height: 63vh;
  width: 100%;
  background: -moz-linear-gradient(left,  rgba(34,38,43,1) 36%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(34,38,43,1) 36%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to right,  rgba(34,38,43,1) 36%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22262b', endColorstr='#007db9e8',GradientType=1 );
}

.movie-words-container {
  position: absolute;
  z-index: 3;
  top: 16rem;
  left: 9rem;
  width: 50%;

  .movie-words__details {
    display: flex;
    align-items: center;
  }
}

.overview {
  margin-top: 20px;
}

.tomatillo {
  width: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.video-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.iframe-container {
  margin-top: 45px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    border: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.load-container {
  @include load-container;
}

@media screen and (max-width: 1180px) {
  .movie-details-section {
    height: 50vh;
  }

  .overlay {
    height: 50vh;
  }

  .movie-words-container {
    left: 8rem;
    width: 58%;

    .movie-words__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 1069px) {
  .backdrop {
    min-width: 600px;
  }

  .movie-details-section {
    height: 40vh;
  }

  .overlay {
    height: 41vh;
  }

  .movie-words-container {
    left: 7rem;

    .movie-words__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 920px) {
  .backdrop {
    min-width: 550px;
  }

  .movie-details-section {
    height: 38.5vh;
  }

  .overlay {
    height: 38.5vh;
  }

  .movie-words-container {
    left: 6.75rem;
    width: 72%;

    .movie-words__details {
      font-size: 20px;
    }

    .overview {
      font-size: 13.5px;
    }
  }
}

@media screen and (max-width: 639px) {
  .backdrop {
    min-width: 465px;
  }
}

@media screen and (max-width: 541px) {
  .backdrop {
    min-width: 335px;
  }

  .movie-details-section {
    height: 35vh;
  }

  .overlay {
    height: 35vh;
  }

  .movie-words-container {
    left: 5rem;
    width: 75%;

    .movie-words__details {
      font-size: 18px;
    }

    .movie-words__title {
      font-size: 30px;
    }

    .overview {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 388px) {
  .backdrop {
    min-width: 300px;
  }

  .movie-words-container {
    left: 4.5rem;
    width: 78%;

    .movie-words__details {
      font-size: 14px;
    }

    .movie-words__title {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 355px) {
  .backdrop {
    min-width: 270px;
  }

  .movie-words-container {
    left: 4.5rem;
    width: 75%;

    .movie-words__title {
      font-size: 20px;
    }

  }
}

@media screen and (max-width: 315px) {
  .backdrop {
    min-width: 250px;
  }

    .overview {
      font-size: 11px;

  }
}
