@import '../Sass/index.scss';

.mainList {
  @include pageMargins;
  // h1 {
  //   margin: 20px 0 20px 0;
  // }
}

.filter-container {
  display: flex;
  width: 100%;

  .filter-button {
    width: 8rem;
    height: 3rem;
    border-radius: 15px;
    border: $white;
    color: $white;
    background: $lighter-grey;
    @include whiteBorder;
    margin-right: 10px;

  &:focus {
    @include filterBtnOn;
  }

  &:hover {
    @include filterBtnOn;
    @include cursor;
    }
  }
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 35px;
}
