@import '../Sass/index.scss';

.mainList {
  @include pageMargins;
  h1 {
    margin: 20px 0 20px 0;
  }
}


.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 35px;
}

//center stuff in the
