@import '../Sass/index.scss';

.App {
  background-color: $dark-grey;
  overflow-y: auto;
  overflow-x: hidden;
}

.bottom-logo {
  @include pageMargins;
  margin: 25px 0 0 50px;

  img {
    width: 174px;
  }
}
