@import '../Sass/index.scss';

form {
  height: 50%;
}

input {
  width: 75%;
  height: 4.5rem;
  border-radius: 22px;
  padding-left: 20px;
  // border-color: $white;
  border-width: 3px solid white;
  // outline:
}
// input {
//   outline-color: #719ECE;
// }
// textarea {
//   outline-color: #719ECE;
// }