*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
  background-color: #22262B;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.7;
  color: #ffffff;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.45rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.App {
  background-color: #22262B;
  overflow-y: auto;
  overflow-x: hidden;
}

.error {
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.load-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-container h2 {
  margin-top: 20px;
  font-size: 25px;
}
.load-container .spinner-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.load-container .circle-border {
  width: 50px;
  height: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #22262B;
  background: linear-gradient(0deg, #8EFF6F 33%, #3D434A 100%);
  animation: spin 0.8s linear 0s infinite;
}
.load-container .circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}
